.container {
  padding: var(--space-xl);
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.titleSection {
  margin-bottom: var(--space-xl);
}

.title {
  composes: heading-h2-bold from global;
}

.description {
  composes: body-small-regular from global;
  color: var(--font-secondary-default);
  margin-top: var(--space-xs);
}
