.container {
  padding: var(--space-xl);
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.sectionTitle {
  composes: heading-h3-bold from global;
  margin-bottom: var(--space-lg);
}
